.draggable-card {
    background: white;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: grab;
}

[draggable="true"] {
    cursor: grab !important;
}
[draggable="true"]:active {
    cursor: grabbing !important;
}