/* App-wide styling */
* {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    background-color: rgba(193, 214, 206, 0.24);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: black;
    display: flex;
    flex-direction: column;
}


#links a {
    color: black;
    text-decoration: none;
    margin: 20px 0 10px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
    color: black;
    background-color: black;
}

.justify-content-center {
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.rounded {
    border-radius: 10px;
}

.white {
    background: white;
}

table {
    width: 100%;
}

button {
    width: 100px;
    height: 50px;
}
