#working-panel {
    width: 70%;
    height: fit-content;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#source-input {
    display: flex;
    flex-direction: column;
}

textarea {
    display: block;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#translated {
    min-width: 100px;
}

#source-to-translate {
    height: 100%;
    background: white;
}

.full-high {
    height: 100%;
}

/*#modal {*/
/*    display: none;*/
/*    position: fixed;*/
/*    z-index: 1000;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.modal-dialog-centered {
    margin: 0 auto;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.lang-select:hover {
    background: antiquewhite;
}

#target {

}

.working-div {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 14px;
    line-height: 27px;
    position: relative;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}